{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Expense Splitter{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <strong>💸 Expense Splitter</strong>

    <div>
        {% if user.is_authenticated %}
            <span>{{ user.username }}</span>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </div>
</div>

<!-- MAIN CONTENT -->
<div class="main-container">
    {% block content %}{% endblock %}
</div>

</body>
</html>

